{% extends "base.html" %}
{% load static %}
<!--{% block title %}Kirish{% endblock title %}-->

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div method="post" style="max-width: 800px; margin: auto; padding: 20px;">



    <div style="margin-bottom: 15px;">
        <h3>Email manzilizgizni tekshiring</h3>
         <h3>Kalit so'zingizni tiklash uchun qo'llanmani email manzilingizga yubordik!</h3>
    </div>
    <br>
    <br>
    <br>
    <br>

<!--    <button type="submit" style="width: 100%; padding: 10px;">Kirish</button>-->
<!--    <a href="{% url 'password_reset' %}" style="display: block; text-align: center; margin-top: 10px;">Parolni tiklash</a>-->
</div>
{% endblock content %}





