{% extends 'base.html' %}

{% block title %}Parolni o'zgartirish{% endblock title %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 style="text-align: center;">Parolni o'zgartirish</h2>
<form method="post" style="max-width: 400px; margin: auto; padding: 20px;">
    {% csrf_token %}

    <div style="margin-bottom: 15px;">
<!--        <label>{{ form.username.label }}</label>-->
        {{ form }}  <!-- Username input -->
    </div>

        <button type="submit" style="width: 100%; padding: 10px;">Yuborish</button>
</form>
{% endblock content %}ntent %}