{% extends 'base.html' %}
{% load static %}

{% block content %}
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>Top Movie Page</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- portfolio section start -->
		<section class="portfolio-area pt-60">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
					    <div class="section-title">
							<h1><i class="icofont icofont-movie"></i> Spotlight This Month</h1>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
					</div>
				</div>
				<hr />
				<div class="row portfolio-item">
					{% for post in posts|slice:":8" %}
					<div class="col-lg-3 col-md-4 col-sm-6 soon released">
						<div class="single-portfolio">
							<div class="single-portfolio-img">
								<img src="{{ post.photo.url }}" class="post-image" />
<!--								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" >-->
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="portfolio-content">
								<h2>{{ post.title|slice:20 }}</h2>
								<div class="review">
									<a href="{% url 'movies-detail' post.pk %}">Read More</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

{% endblock content %}